<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.demo1.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <display-name>miniproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>savesevlet</display-name>
    <servlet-name>savesevlet</servlet-name>
    <servlet-class>com.demo1.savesevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savesevlet</servlet-name>
    <url-pattern>/savesevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveServlet1</display-name>
    <servlet-name>SaveServlet1</servlet-name>
    <servlet-class>com.demo1.SaveServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet1</servlet-name>
    <url-pattern>/SaveServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewsevlet</display-name>
    <servlet-name>viewsevlet</servlet-name>
    <servlet-class>com.demo1.viewsevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewsevlet</servlet-name>
    <url-pattern>/viewsevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSevlet</display-name>
    <servlet-name>EditSevlet</servlet-name>
    <servlet-class>com.demo1.EditSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSevlet</servlet-name>
    <url-pattern>/EditSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.demo1.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.demo1.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>